#login {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  .login_text {
    transition: 0.8s ease;
    text-align: right;
  
  }
  
  .login_text #name_id {
    font-size: 17px;
    font-weight: 700;
  }
  
  .login_text .font_middle {
    font-size: 16px;
    font-weight: 600;
  }
  
  .login_text #log_out {
    font-size: 17px;
    font-weight: 700;
  }
  
  #name_id,
  #log_out {
    transition: 0.8s ease;
    position: absolute;
    right: 100px;
  }
  
  #log_out {
    top: 21px;
    opacity: 0;
  }
  
  #button_exit_green,
  #button_exit_red {
    cursor: pointer;
    transition: 0.8s ease;
    height: 30px;
    top: 17px;
    position: absolute;
    right: 32px;
  }
  
  #button_exit_red {
    transition: 0.8s ease;
    opacity: 0;
  }
  
  #x_ray {
    border-radius: 7px;
    transition: 0.8s;
    color: #40BA21;
    border-right: 3px solid;
    width: 3px;
    height: 42px;
    position: absolute;
    top: 12px;
    right: 80px;
  }

@media screen and (max-width: 1023px) {
    .login_text {
        margin-top: -5px;
    }

    .login_text #name_id {
        font-size: 15px;
    }

    #name_id,
    #log_out {
        right: 85px;
    }

    .font_middle {
        font-size: 14px;
    }

    .login_text #log_out {
        font-size: 15px;
    }

    .exit_button {
        top: 2px;
    }

    #button_exit_green,
    #button_exit_red {
        height: 25px;
        right: 25px;
        top: 1.5vmax;
    }

    #x_ray {
        height: 37px;
        right: 65px;
        top: 1vmin;
    }
}

@media screen and (max-width: 900px) {
    .login_text, #x_ray {
        display: none;
    }
    #button_exit_green,
    #button_exit_red {
        right: 10px;
    }
}