@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant.ttf");
}

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

label {
  font-size: 16pt;
  font-weight: 600;
  color: #40BA21;
  display: block;
}

input,
textarea {
  font-size: 14pt;
  font-weight: 500;
  width: 95%;
  margin: 10px auto;
  border-radius: 7px;
  border: 0;
  border-bottom: 2px white solid;
  transition: border 0.8s ease;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.10);
}

input:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 2px #40BA21 solid;
}

input.submit:focus {
  outline: none !important;
  border-bottom: 2px white solid;
}

div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 20vw;
  width: 80vw;
  height: 100%;
  overflow: auto;
  padding: 85px 200px;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 70px 50px;
  }
}

@media screen and (max-width: 1023px) {
  label {
    font-size: 14pt;
  }
}

@media screen and (max-width: 900px) {
  input, textarea {
    font-size: 12pt;
  }
  main {
    width: 100vw;
    left: 0;
  }
}

@media screen and (max-width: 750px) {
  main {
    padding: 70px 20px;
  }
}