.font_middle {
  font-size: 15pt;
  font-weight: 600;
}

.icon {
  color: #40BA21;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 1023px) {
  .fg div {
    display: flex;
    flex-flow: column;
    margin-left: 5px;
  }

  .submit {
    font-size: 13pt;
  }
}